body {
  margin: 0;
  padding: 0;
  height: 100vh;

  background-color: #fff;
  color: #2f2f2f;

  font: normal normal 100% Arial, Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 0.83em;

  overflow-x: hidden;
}

/*This is Header Menu*/
.menu {
  border-bottom: 5px solid #ca3438;

  display: flex;
  justify-content: center;

  font-size: 15px;
  font-weight: 550;
  text-shadow: 0.4px 0.4px 5px rgba(0, 0, 0, 0.2);
}

.button-collaps {
  width: 50px;
  height: 40px;
  margin: 10px 35px;

  border: none;
  display: none;

  position: absolute;
  z-index: 1;
}

.button-collaps button {
  width: 100%;
  height: 100%;

  background-color: #2f2f2f;

  border-radius: 10px;
  outline: none;
}

#button-search {
  cursor: pointer;
  position: relative;
}

.fa-angle-down {
  color: #ca3438;
  font-size: 20px;
  margin-top: -5px;
}

.fa-search {
  font-size: 18px;
  color: #ca3438;
}

.course .font-icon {
  display: none;
}

.menu-logo {
  width: 229px;
  height: 47px;
}

.menu-list {
  position: relative;
  top: 13px;
}

.menu-list__list-item {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.menu-list__list-item > li {
  padding: 0 10px;
}

.menu-list__list-item .font-icon {
  display: flex;
  flex-direction: column;

  position: relative;

  text-align: center;
  opacity: 0;
}

.menu-list__list-item .active {
  border-bottom: 5px solid #ffae00;
  text-align: center;

  display: flex;
  flex-direction: column;

  position: relative;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.submenu-course {
  padding: 35px 0px 0px;
  width: 100%;
  display: none;

  list-style-type: none;

  position: absolute;
}

.course:hover .submenu-course {
  display: block;
}

.submenu-course li {
  border-bottom: 1px solid #ca3438;
  padding: 5px 0;
}

.course ul li:hover span {
  color: #ca3438;
  transition: all 0.5s;
}

.submenu-course__advenced {
  top: 35px;
  padding: 0px;
  left: 170px;
  width: 130%;

  list-style-type: none;

  position: absolute;

  display: none;
}

.advenced:hover .submenu-course__advenced {
  display: block;
  transition: all 0.5s;
}

.submenu-course__advenced li:hover {
  color: #ca3438;
  transition: all 0.5s;
}

.menu-list__list-item .course:hover {
  border-bottom: 5px solid #ffae00;
  transition: all 0.3s;
}

.menu-list__list-item .course:hover .font-icon {
  opacity: 1;
}

.submenu-course .submenu-speed {
  position: relative;
}

.submenu-speed .submenu-course__speed {
  top: 0px;
  padding: 0;
  left: 170px;
  width: 100%;

  list-style-type: none;
  display: none;

  position: absolute;
}

.submenu-course > .submenu-speed:hover > .submenu-course__speed {
  display: block;
}

.another-course .submenu-course__another-course {
  padding: 0;
  width: 100%;
  left: 170px;
  top: 95px;

  list-style-type: none;
  display: none;

  position: absolute;
}

.submenu-course .course-another {
  position: relative;
}

.submenu-course .another-course:hover .submenu-course__another-course {
  display: block;
}

.submenu-course__another-course > li:hover {
  color: #ca3438;
}

.submenu-course__speed > li:hover {
  color: #ca3438;
  transition: all 0.5s;
}

.menu .menu-search {
  margin-left: 5px;

  display: flex;
  align-items: center;
}

.menu-search .menu-search__content {
  top: 60px;
  right: 17%;
  height: 40px;
  width: 265px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ca3438;

  position: absolute;
  display: none;
}

form .form-search {
  display: flex;
  align-items: center;
}
