@media screen and (max-width: 1024px) {
  body {
    height: 100vh;
  }

  .menu {
    font-size: 15px;
    padding: 0px;
  }

  .menu-logo {
    margin: 0 -40px;
  }

  .button-collaps {
    display: block;
  }

  .advenced .submenu-course__advenced,
  .submenu-speed .submenu-course__speed,
  .another-course .submenu-course__another-course {
    left: 159px;
  }

  .menu-search .menu-search__content {
    right: 2rem;
  }
}

@media screen and (max-width: 868px) {
  .menu {
    align-items: center;
  }

  .active i {
    display: none;
    position: relative;
  }

  .menu .menu-list {
    top: 0px;
    width: 50%;
    height: 100vh;
    left: 0px;
    font-weight: 200;

    color: rgba(255, 255, 255, 0.6);
    background-color: #333333;

    position: absolute;
  }

  i.fas.fa-angle-down {
    display: none;
  }

  .menu .menu-logo {
    order: 1;
    flex-grow: 1;
    text-align: center;
  }

  .menu .menu-search {
    order: 2;
  }

  .menu-list .menu-list__list-item {
    padding: 0px;

    flex-direction: column;

    pointer-events: none;
  }

  .menu-list__list-item .active {
    border-bottom: 5px solid #ffae00;

    color: #ca3438;
  }

  .menu-list__list-item > .course {
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 0;

    display: flex;
    align-items: flex-start;

    line-height: 20px;
  }
}
