@media screen and (max-width: 1024px) {
  body {
    height: 100vh;
  }

  .menu {
    font-size: 13px;
    padding: 0px;
  }

  .menu-logo {
    margin: 0 -40px;
  }

  .advenced .submenu-course__advenced,
  .submenu-speed .submenu-course__speed,
  .another-course .submenu-course__another-course {
    left: 159px;
  }

  .menu-search .menu-search__content {
    right: 2rem;
  }
}

@media screen and (max-width: 868px) {
  .menu {
    align-items: center;
  }

  .active i {
    display: none;
    position: relative;
  }

  .menu .menu-list {
    top: 0px;
    background-color: #333333;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    position: absolute;
    height: 100vh;
    left: 0px;
  }

  i.fas.fa-angle-down {
    display: none;
  }

  .menu .menu-logo {
    order: 1;
    flex-grow: 1;
    text-align: center;
  }

  .menu .menu-search {
    order: 2;
  }

  .menu-list .menu-list__list-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    pointer-events: none;
  }

  .menu-list__list-item .active {
    border-bottom: 2px solid #ffae00;
  }

  .menu-list__list-item > li {
    padding: 0;
  }
}
